body{
    background-color: lightcyan;
    margin:0;
    padding:0;
 background-image: url(pic2.jpg);
}

h2{
    color:olive;
    text-align:right;
    margin-top: 80px;
    color: mediumspringgreen;
    font-weight: 700;
}
h3{
    text-align: right;
    font-family: fantasy;
    color: mediumspringgreen;
    font-weight: 700;
}
